mat-card {
    width: 30%; /* Ajusta el ancho del formulario según tus necesidades */
    margin: 20px auto; /* Centra el formulario horizontalmente */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  mat-form-field {
    margin-top: 10px;
    width: 100%; /* Campos de formulario ocupan todo el ancho */
    margin-bottom: 15px; /* Espacio entre campos */
  }
  
  button[mat-raised-button] {
    width: 100%; /* Botón ocupa todo el ancho */
    margin-top: 20px;
    border-radius: 25px;
    padding: 8px 16px;
    font-weight: 500;
    background-color: antiquewhite;
    cursor: pointer;
    text-align: center;
  }